<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{title}}
  </h1>

  <p>{{subtitle}}</p>
  <p>{{date}}</p>
</div>

<h2>Wireframes</h2>
  <ul>
    
    <li><p>This is the home page</p><img width="600" alt="home page" src="assets/img/home-page.png"></li>
    <li><p>This is the user welcome screen</p><img width="600" alt="welcome user" src="assets/img/welcome-user.png"></li>
    <li> <p>This is the view destinations page</p><img width="600" alt="view destinations" src="assets/img/view-destination.png"></li>
    <li><p>This is the create new detination page</p><img width="600" alt="create new destination" src="assets/img/create-new-destination.png"></li>
    <li><p>This is the create new itinerary page</p><img width="600" alt="create new itinerary" src="assets/img/create-new-itinerary-item.png"></li>
    
  </ul>  
  


<h2>Project tracker</h2>
  <a href="https://trello.com/b/js2SzEQG/travel-planner-lo-2020">Travel Planner Trello Board</a>

<h2>Project Repo Link</h2>
<a href="https://github.com/bmconstant16/DestinationMVP_LO">GitHub Repo</a>



  

